<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalisAI - Equipe</title>
    <link rel="stylesheet" href="/css/equipe.css">
</head>
<body>

    <div class="equipe-page-wrapper">
        <header class="logo-equipe">
            <img src="/img/logo3-white.png" alt="AnalisAI">
            <h3>Desenvolvimento de Sistemas</h3>
        </header>

        <main class="equipe-container">
            <div class="equipe-grid">
                <section class="equipe-section">
                    <h4>FRONT-END</h4>
                    <p>LUCAS EDUARDO DUARTE PEREIRA</p>
                    <p>ELLEFER FERNANDA BOVAROTI RIZZO</p>
                </section>

                <section class="equipe-section">
                    <h4>BACK-END</h4>
                    <p>LUCAS EDUARDO DUARTE PEREIRA</p>
                    <p>ISABELLA LI AFFA SANCHES</p>
                </section>
            </div>

            <section class="equipe-section full-width">
                <h4>BANCO DE DADOS</h4>
                <p>ISABELLA LI AFFA SANCHES</p>
                <p>LUIZ OTÁVIO DA SILVA MATTARUGO</p>
            </section>

            <div class="button-area">
                <a href="/dashboard" class="btn-voltar">Voltar ao Painel</a>
            </div>
        </main>
    </div>

</body>
</html>