.sidebar {
    width: 90px;
    height: 100vh;
    background-color: #090909;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-right: 1px solid #1a1a1a;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.side-link {
    color: #ff0101;
    font-size: 20px;
    text-decoration: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: 0.3s;
}

.side-link.active {
    background-color: #ff0101;
    color: #ffffff !important;
}

.side-link:hover:not(.active) {
    background-color: rgba(255, 1, 1, 0.1);
}

.side-link i {
    pointer-events: none;
}
