

<header class="header">
    <div class="logo-section">
        <a class="" href="/">
            <img src="/img/logo2-white.png" alt="Logo" class="logo" width="100px" height="27px">
            
        </a>
    </div>
    <nav class="navegacao-botoes">
        <a class="botao-entrar" href="/login">
            <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/user--v1.png" alt="Entrar"/ class="icon-login">
        </a>
    </nav>

    <script src="/js/alerts.js"></script>
</header>