<div class="section-1-presentaion">
    <div class="titulo-s1">
        <img src="/img/logo3-white.png" alt="" width="300px" height="auto" class="senai_logo">
        <h1>Bem-vindo ao nosso Sistema de análise de avanços!</h1>
        <p>Organize, colabore e alcance seus objetivos com eficiência.</p>
    </div>
    <button class="botao-acessar">
        <a href="/login" style="text-decoration: none;">
            Acessar
        </a>
    </button>
</div>

<div class="section-2-about-senai-cic">
    <div class="section-2-box1">
        <h2>SENAI CIC</h2>
        <p>Referência em formação profissional na região de Curitiba, o SENAI CIC atua como hub tecnológico, preparando talentos para as demandas da Indústria 4.0 com infraestrutura de ponta e excelência educacional.</p>
    </div>

    <div class="section-2-box1">
        <h2>Análise de Avanços</h2>
        <p>Nosso sistema transforma avaliações complexas em indicadores visuais claros. Através do monitoramento de competências, permitimos que docentes identifiquem com precisão o nível de aptidão de cada estudante.</p>
    </div>

    <div class="section-2-box1">
        <h2>Decisões Estratégicas</h2>
        <p>Apoiamos a gestão pedagógica com dados reprodutíveis e organizados. Acompanhe a evolução das turmas, frequências e o desenvolvimento técnico para garantir o sucesso acadêmico e profissional.</p>
    </div>
</div>

<div class="section-3">
    
</div>